<!--<% var rootPath = '../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" href="css/page.css">

        <div class="homeImg container-fluid">
            <div class="homeDiv center container">
                <h1 class="titleMain cenX">Projects</h1>

                <div class="row rowBackSS"></div>
                
            </div>
        

        </div>
        <br>
        <a class="anchor" id="top"></a>

        <div class="container-fluid sec temp">
            <div class="container">
                <div class="borderProj">
                    <a href="timelapse-auto-ramp" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="timelapse-auto-ramp/results/thumbs/sunset-cmp.jpg" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">Department of Environmental Management,Makerere</h3>
                                <p class="subP desc" data-desc="timelapse-auto-ramp">2020 to date</p>
                                 <p class="subP desc" data-desc="timelapse-auto-ramp">I serve as a Member of the Graduate Academic Matters, Budgets and Expenditure Sub-Committees. </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="borderProj">
                    <a href="pathfinding" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="images/standard-fix.gif" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">School of Forestry, Environment and Geographical Sciences</h3>
                                <p class="subP desc">2019 to date:</p>
                                 
                                 <p class="subP desc" data-desc="pathfinding">I serve as a Member of the Appointments and Promotions Committee</p>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid sec temp">
            <div class="container">
                <div class="borderProj">
                    <a href="timelapse-auto-ramp" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="timelapse-auto-ramp/results/thumbs/sunset-cmp.jpg" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">Senate Representative for the Makerere University Institute of Environment and Natural Resources</h3>
                                <p class="subP desc" data-desc="timelapse-auto-ramp"> 2010 - 2011</p>
                                 <p class="subP desc" data-desc="timelapse-auto-ramp"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="borderProj">
                    <a href="pathfinding" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="images/standard-fix.gif" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">Sustainable Use of Plant Diversity (SUPD)</h3>
                                <p class="subP desc">Founder and Co-director for the NGO.</p>
                                 
                                 <p class="subP desc" data-desc="pathfinding"></p>
                                 

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid sec temp">
            <div class="container">
                <div class="borderProj">
                    <a href="timelapse-auto-ramp" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="timelapse-auto-ramp/results/thumbs/sunset-cmp.jpg" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">College of Agriculture and Environmental Sciences</h3>
                                <p class="subP desc" data-desc="timelapse-auto-ramp">2011-date</p>
                                 <p class="subP desc" data-desc="timelapse-auto-ramp"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="borderProj">
                    <a href="pathfinding" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="images/standard-fix.gif" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">Makerere University Infrastructure and Master Plan Review</h3>
                                <p class="subP desc">2010 - 2012</p>
                                 
                                 <p class="subP desc" data-desc="pathfinding"></p>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        

        <div class="container-fluid btnLinks extPad">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 bot">
                        <div class="Center">
                            <h3 class="sub2">Not All of my Projects and Roles are indexed here</h3>
                            <!--<p class="subText">Read More publications</p>
                            <a class="btn btn-outline-dark" href="https://www.researchgate.net/profile/John-Rs-Tabuti" role="button" target="_blank">Publications</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include(rootPath + 'partials/footer'); %>
        <script type="text/javascript" src="scripts/shift.js"></script>
        <script type="text/javascript" src="/scripts/fetchDesc.js"></script>
    </body>
</html>
<p>work in progress</p>-->
