<% var rootPath = '../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" href="css/page.css">

        <div class="homeImg container-fluid">
            <div class="homeDiv center container">
                <h1 class="titleMain cenX">Publications</h1>

                <div class="row rowBackSS"></div>
                
            </div>

            
        </div>
       
<br>
        <a class="anchor" id="top"></a>

        <div class="container-fluid sec temp">
            <div class="container">
                <div class="borderProj">
                    <a href="https://www.researchgate.net/publication/344265408_Extent_and_Rate_of_Deforestation_in_West_Bugwe_Central_Forest_Reserve_Uganda" class="noColor" target="_blank"> 
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="/images/jan-kahanek-g3O5ZtRk2E4-unsplash.jpeg" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">Extent and Rate of Deforestation in West Bugwe Central Forest Reserve, Uganda</h3>
                                <p class="subP desc" data-desc="timelapse-auto-ramp"><a href="https://www.researchgate.net/publication/344265408_Extent_and_Rate_of_Deforestation_in_West_Bugwe_Central_Forest_Reserve_Uganda" target="_blank">September 2020</a></p>
                                 <p class="subP desc" data-desc="timelapse-auto-ramp">Forests play an important role in supporting social wellbeing and livelihoods. Forests and forest cover over most of sub-Saharan Africa is being cut down (deforestation) or converted into other vegetation or other land cover forms (degradation). Knowledge on the status of forest cover and how it has been changing is vital for developing the appropriate restoration and other management strategies. Detailed assessments of land cover change at local scales, and assessments of the factors that lead to the change, are lacking for much of Uganda. We showcase methods to fill this gap by offering a case study combining GIS and key informant surveys to assess local trends in West Bugwe Central Forest Reserve (WBCFR). Our findings show that the forest in WBCFR has been extensively and rapidly deforested and degraded by humans due to a number of poverty related drivers......</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="borderProj">
                    <a href="https://www.researchgate.net/publication/344265682_Land_Suitability_and_Socioeconomic_Factors_for_Pigeonpea_Cultivation_in_Uganda" class="noColor" target="_blank">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="/images/jan-kahanek-g3O5ZtRk2E4-unsplash.jpeg" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">Land Suitability and Socioeconomic Factors for Pigeonpea Cultivation in Uganda</h3>
                                <p class="subP desc"><a href="https://www.researchgate.net/publication/344265682_Land_Suitability_and_Socioeconomic_Factors_for_Pigeonpea_Cultivation_in_Uganda" target="_blank">September 2020</a></p>
                                 
                                 <p class="subP desc" data-desc="pathfinding">Pigeonpea (Cajanus cajan (L.) Millsp.) is one of Uganda's many traditional pulses and may have an important role to play in helping the country to achieve food and nutritional security, while at the same time protecting and enhancing natural resources. The sustainable cultivation of pigeonpea will require, among other things, identification of suitable regions for cultivation and a better understanding of the factors that influence its adoption by farmers. To offer guidance on production we performed a suitability analysis by matching land characteristics with crop requirements using a GIS weighted overlay technique and gathered related socioeconomic data collected with farmers in regions considered suitable.........</p>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid sec temp">
            <div class="container">
                <div class="borderProj">
                    <a href="https://www.researchgate.net/publication/345506910_Changes_in_vegetation_characteristics_following_a_decade_of_community_forest_management_in_mid-western_Uganda" class="noColor" target="_blank">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="/images/jan-kahanek-g3O5ZtRk2E4-unsplash.jpeg" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">Changes in vegetation characteristics following a decade of community forest management in mid-western Uganda</h3>
                                <p class="subP desc" data-desc="timelapse-auto-ramp"><a href="https://www.researchgate.net/publication/345506910_Changes_in_vegetation_characteristics_following_a_decade_of_community_forest_management_in_mid-western_Uganda" target="_blank">September 2020</a></p>
                                 <p class="subP desc" data-desc="timelapse-auto-ramp">The last three decades have witnessed shifts in forest governance in favour of more inclusive approaches. In Uganda, two main approaches have been embraced in the forest sector: collaborative forest management and community forest management. However, there is scanty empirical evidence on how the latter has affected the forest condition over time. Using data from two bio-physical surveys (2006 and 2016) and Key Informant Interviews, this study examined changes in vegetation characteristics in two de facto community forests (Ongo and Alimugonza) over a 10-year period.........</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="borderProj">
                    <a href="https://www.researchgate.net/publication/340774472_Determinants_of_participation_in_state_and_private_PES_projects_in_Uganda" class="noColor" target="_blank">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="/images/jan-kahanek-g3O5ZtRk2E4-unsplash.jpeg" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">Determinants of participation in state and private PES projects in Uganda</h3>
                                <p class="subP desc"><a href="https://www.researchgate.net/publication/340774472_Determinants_of_participation_in_state_and_private_PES_projects_in_Uganda" target="_blank">April 2020</a></p>
                                 
                                 <p class="subP desc" data-desc="pathfinding">Climate change mitigation can improve rural livelihoods through payment for environmental services (PES) approaches. However, participation in PES projects is voluntary, uncertain and yet some people's participation is more important than others. In this article, we use quantitative and qualitative methods to examine factors that determine local peoples’ participation in state (Rwoho and Kasagala) and private (‘Undisclosed’ and Hoima) forestry carbon projects in Uganda. We find that such determinants vary within and between state and private projects. For example, older people with more land parcels were more likely to participate in private projects compared to their.............</p>
                                 

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid btnLinks extPad">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 bot">
                        <div class="Center">
                            <h3 class="sub2">Read More</h3>
                            <p class="subText">Read More publications</p>
                            <a class="btn btn-outline-dark" href="https://www.researchgate.net/profile/John-Rs-Tabuti" role="button" target="_blank">My Research gate</a>
                            <br>
                            <br>
                            <a class="btn btn-outline-dark" href="https://scholar.google.com.my/citations?user=vtt0HUgAAAAJ&hl=en" role="button" target="_blank">My Google scholar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include(rootPath + 'partials/footer'); %>
        <script type="text/javascript" src="scripts/shift.js"></script>
        <script type="text/javascript" src="/scripts/fetchDesc.js"></script>
    </body>
</html>
