<% var rootPath = '../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" href="css/page.css">
        <div class="homeImg container-fluid">
            <div class="homeDiv center container">
                <h1 class="titleMain cenX">Publications</h1>
                <div class="row rowBackSS"></div>
                
            </div>
            <div class="homeSouth">
                <h4><a class="stealthLink subPmin padX0" href="#">Read More</a></h4>
                <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
            </div>
        </div>    
<br>
<!--<div class="container-fluid sec temp">
    <div class="container">
    <div class="projText col-lg-8 col-md-12">
        <div class="borderProj">
        <h3 class="regTitle">Changes in vegetation characteristics following a decade of community forest management in mid-western Uganda.</h3>
        <br>
        <h6 class="regTitle">Mawa, C., Babweteera, F., Tabuti, J.R.S., Tumusiime, D.M., 2020.</h6>
        <br>
        <h6 class="regTitle">International Forestry Review 22 (3): 323-338.</h6>
        </div>
    </div>
    </div>-->
<div class="container-fluid">
<div class="row justify-content-center">
    <div class="projText col-lg-8 col-md-12">
        <div class="borderProj">
<h3 class="regTitle">You can reach me at</h3>
        <br>
        <h6 class="regTitle">Mawa, C., Babweteera, F., Tabuti, J.R.S., Tumusiime, D.M., 2020.</h6>
        <br>
        <h6 class="regTitle">International Forestry Review 22 (3): 323-338.</h6>
        </div>
</div>
</div>
</div>
      <div class="container-fluid btnLinks extPad">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 bot">
                        <div class="Center">
                            <h3 class="sub2">Don't be shy </h3>
                            <p class="subText" >Send me an email</p>
                            <a class="btn btn-outline-dark" href="https://www.researchgate.net/profile/John-Rs-Tabuti" role="button" target="_blank">Email me</a>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include(rootPath + 'partials/footer'); %>
        <script type="text/javascript" src="scripts/shift.js"></script>
        <script type="text/javascript" src="/scripts/fetchDesc.js"></script>
    </body>
</html>

