<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <% include ../partials/includes %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain">Hello  </h1>
            <h3>Professor John Robert Stephen Tabuti</h3>
        </div>
        <div class="homeSouth">
            <h4><a class="stealthLink subPmin padX0" href="#">Read More</a></h4>
            <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
        </div>
    </div>

    <div class="container-fluid aboutMe" >
        <div class="container aboutMe">
            <div class="row rowPad" >
                <div class="col-md-4">
                    <img src="../images/IMG_0043 2.jpg" class="circleImg"></img>
                </div>
                <div class="col-md-8">
                    <p class="pad20">I am an educator, ethnobotanist and researcher.  I have experience of more than 20 years in academic and non-academic research.  I am pedagogically proficient and have designed and delivered different university courses.  I have also guided and trained more than 40 graduate students, including four PHDs.
                        My research interests span the gamut of people relationships with plants (ethnobotany), and plant ecological research. I am accomplished in fund raising, developing research projects, leading research teams, undertaking field research, and analyzing and reporting scientific data.  
                        I am also skilled in dissemination and have organized a number of dissemination and awareness seminars and workshops.  I have published more than 50 scientific articles in reputable peer reviewed journals.  I have also edited a Special Issue “Recent Advances towards Validating Efficacy and Safety of African Traditional Medicines” published by Hindawi Publishing Corporation.
                        My public profile includes governance, whereby I am the Chair Governing Council, National Teachers College Kaliro.
                        </p>
                    {
                    <p>Scopus h index = 15, SCOPUS ID = 6603091955; ORCID: 0000-0001-9024-9181; Researcher ID:  R-8040-2018; Google Scholar i10-index = 43; Google Scholar h-index = 23    </p>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid softwareImg">
        <div class="container softwareDiv">
            <h1 class="leftTitle subTitle white" style="padding-top: 0px">Projects</h1>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">Strengthening Capacity among African Forestry Stakeholders for Implementing REDD+ in Anglophone and Lusophone Africa: Case studies of Angola, Gambia, Ghana, Namibia, Tanzania and Uganda </h3>
                    <h5 class="tileDesc subPmin white">The key tasks were to collect data on different REDD+ initiatives at national level including through a literature review and stakeholder interviews, and to submit a field report on research activities conducted in the country.</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                        <a href="https://www.reddea.ac.ug/" target="_blank"><p style="border-width:0px" id="PSDPlug">REDD-EA</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="projects/index.ejs"><p>Learn more</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">Improving the resilience and quality of rural road infrastructure through landslide management and optimisation of road reserve use</h3>
                    <h5 class="tileDesc subPmin white">This project aimed to find innovative ways to improve the resilience and quality of rural road infrastructure.</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="https://kaliro.ac.ug/" target="_blank"><p style="border-width:0px" >Site</p></a></a>
                            
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="projects/index.ejs"><p>Learn more </p></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">Assessment of traditional medicine and development of medicinal products from traditional medicine in the EAC partner states.  East African Community</h3>
                    <h5 class="tileDesc subPmin white">This study was aimed at assessing the achievements made by EAC Partner States in traditional medicine and on development of medicinal products from traditional medicine. </h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="http://caes.mak.ac.ug/"><p style="border-width:0px">Site</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="projects/index.ejs"><p>Learn more</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">Building capacity for REDD+ in East Africa for improved ecosystem health and for sustainable livelihoods in Eastern Africa (REDD-EA) </h3>
                    <h5 class="tileDesc subPmin white">The REDD-EA project’s goal was to contribute to reduced greenhouse gas emissions and improved ecosystem health for sustainable livelihoods in Eastern Africa.  The Project strengthened the capacity for education and research on climate change and REDD+ at Makerere University and the University of Dar es Salaam.  
                    </h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="https://www.reddea.ac.ug/"><p style="border-width:0px"></p>REDD-EA</a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="projects/index.ejs"><p>Learn more</p></a>
                        </li>
                    </ul> 
                </div>
              
                <a class="btn btn-outline-secondary btn-lg centerBtn" href="projects/index.ejs" role="button">Learn More</a>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>
    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
