<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <% include ../partials/includes %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain">Hello <!--<span class="wave">👋🏾</span>--> </h1>
            <h3>My Name is John . I am an Ethnobotanist</h3>
        </div>
        <div class="homeSouth">
            <h4><a class="stealthLink subPmin padX0" href="#">Read More</a></h4>
            <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
        </div>
    </div>

    <div class="container-fluid aboutMe" >
        <div class="container aboutMe">
            <div class="row rowPad" >
                <div class="col-md-4">
                    <img src="../images/IMG_0043 2.jpg" class="circleImg"></img>
                </div>
                <div class="col-md-8">
                    <p class="pad20">I am  an educator, ethno botanist and researcher. My ethno botanical research interests are aimed at identifying, promoting and conserving useful plant species. I am principally interested in documenting plant use, and researching the effects of such use on the exploited plant populations. To understand the second aim, I am  studying plant population structures and plant biology. I am a Professor of Ethno botany and now lecturing in the College of Agricultural and Environmental Sciences. I have  16 years of teaching experience at University level. I quickly rose through the ranks from Assistant Lecturer in 1995 to full Professor in 2010. As a hardworking academic, I have so far supervised 2 PhD and10 Masters Graduates. I have  published 25 referred papers, five chapters in five books and one book. I have  attended over 40 conferences, seminars, workshops and symposia and presented several papers. I have  also organized several national and international conferences, workshops, seminars and symposia from which over 40 reviewed papers were published in special issues of the African Journal of Ecology. I have  participated in 20 research projects and consultancies supported by various national and international agencies including UNESCO, IFS, VicRes, WHO,PFARD-COMPAS Uganda Project, the Garden Club of America, International FOREAIM project, Sida-SAREC, I@mak.com, NUFU, NORAD and PROTA. I am also a  professional member of a number of local and international organizations including International Society of Ethno biology, Association for the Taxonomy Study of the Flora of Tropical Africa [AETFAT] and Nature Uganda among others. I have also been fortunate enought to get invited to a  number of fellowships and recieve a number of awards including the Dennis Stanfield Memorial Fund, International Foundation for Sciences [IFS], and Anne S. Catham Fellowship in Medicinal Botany among others..</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid softwareImg">
        <div class="container softwareDiv">
            <h1 class="leftTitle subTitle white" style="padding-top: 0px">Projects</h1>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">REDD-EA</h3>
                    <h5 class="tileDesc subPmin white">A NGO whose  goal is to contribute to reduced greenhouse gas emissions and improved ecosystem health for sustainable livelihoods in Eastern Africa</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                        <a href="https://www.reddea.ac.ug/" target="_blank"><p style="border-width:0px" id="PSDPlug">REDD-EA</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="projects/index.ejs"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">NTC Kaliro</h3>
                    <h5 class="tileDesc subPmin white">A Government founded tertiary institution in Uganda , situated in Kaliro district in Eastern Uganda.</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="https://kaliro.ac.ug/" target="_blank">
                            <p style="border-width:0px" >NTC Kaliro</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="projects/index.ejs"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">CAES</h3>
                    <h5 class="tileDesc subPmin white">College Of Agricultural and Environmental Sciences.A department withing Makerere devoted to teaching university students all they need to know about the environment.</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="http://caes.mak.ac.ug/"><p style="border-width:0px">CAES</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="projects/index.ejs"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">DESAT</h3>
                    <h5 class="tileDesc subPmin white">This was a projects started with the core aim of Developing a Safe and Efficacious Anti-malarial drug from Traditional medicine and was funded by Makerere University. </h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href=""><p style="border-width:0px"></p>DESAT</a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="projects/index.ejs"><p>View all projects</p></a>
                        </li>
                    </ul> 
                </div>
                <a class="btn btn-outline-secondary btn-lg centerBtn" href="projects/index.ejs" role="button">Learn More</a>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>
    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
