 <% var rootPath = '../../'; %>
    <!DOCTYPE HTML>
    <html>
        <head>
            <%- include(rootPath + 'partials/includes'); %>
        </head>
         <%- include(rootPath + 'partials/nav'); %>
         <link rel="stylesheet" href="css/page.css">
            <div class="homeImg container-fluid">
                <div class="homeDiv center container">
                    <h1 class="titleMain cenX">GRANTS WON</h1>
                    <div class="row rowBackSS"></div>
                    
                </div>
                </div>
                <div class="homeDiv center">
                <div class="homeSouth">
                    <h4><a class="stealthLink subPmin padX0" href="#">Read More</a></h4>
                    <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
                </div>
                </div>
            </div>   
        <body>
           
            <link rel="stylesheet" href="css/page.css">
            
    <br>
    <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="projText col-lg-8 col-md-12">
            <div class="borderProj">
     <h3 class="regTitle">GRANTS WON</h3>
            <br>
            <h6 class="regTitle"> 2013-2020: Principal Investigator on the project “Building capacity for REDD+ in East Africa for improved ecosystem health and for sustainable livelihoods in Eastern Africa (REDD-EA)”, Grant No. UGA-13/0019.  The project is supported by NORAD of Norway had has a budget of NOK 18,000,000</h6>
            <br>
            <h6 class="regTitle">2019-2020: Development of a Safe and Efficacious Anti-malarial drug from Traditional medicine (DESAT). Funded by Makerere University (UGX 99,707,500)</h6>
            <br>
            <h6 class="regTitle">2014-2018: Project Coordinator and developer for the project “Enhancing sustainable rural livelihoods through innovative participatory approaches to reforestation”.  The project was funded by Biovision (https://www.biovision.ch/en/home/).  USD 35,000.</h6>
            <br>
            <h6 class="regTitle">2010: Promoting indigenous scientific knowledge for poverty reduction and sustainable development.  Consultancy for the UNESCO Participation Programme through the Uganda National Commission for UNESCO (UNATCOM), USD 20,000</h6>
            <br>
            <h6 class="regTitle">October 2008 – Jan 2010: Community Education for the Preservation of Medicinal Plants for Poverty Reduction and Sustainable Development. Consultancy for the UNESCO Participation Programme through the Uganda National Commission for UNESCO (UNATCOM), USD 20,000</h6>
            </div>
    </div>
    </div>
    </div>
    
            </div>
        <!--</div>-->
            
            <script type="text/javascript" src="scripts/shift.js"></script>
            <script type="text/javascript" src="/scripts/fetchDesc.js"></script>
        </body>
    </html>
    
    
